<mat-toolbar color="primary">

  <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="warn">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
      <span><img id="nrm-logo" src="assets/images/logo-white2.png" alt="nCubeCloud logo"></span>
      <span class="ncube-toolbar-spacer">nCubeCloud Hospital</span>
      <span></span>
      <div class="removePadding">
          <button id="idUser" mat-button [matMenuTriggerFor]="menu1">
          <mat-icon aria-label="Account">account_circle</mat-icon>
      </button>
          <mat-menu #menu1="matMenu">
              <!--button mat-menu-item disabled>{{user.userName}}</button-->
              <button mat-menu-item disabled>NITHIN</button>
              <!--button mat-menu-item onClick={{amtUrl}}>Request Access</button-->
              <button mat-menu-item onClick="javascript:window.open('/#logout');">Log Out</button>
          </mat-menu>
      </div>

      <div>
          <button id="idHelp" mat-button [matMenuTriggerFor]="menu2">Help</button>
          <mat-menu #menu2="matMenu">
              <button mat-menu-item onClick="javascript:window.open('http://ncubecloud.com', '_blank');">Help</button>
          </mat-menu>
      </div>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="background-color:white;height:100%;">

  <mat-sidenav #drawer mode="side" opened role="navigation" style="background-color:white;height:100%;">

      <mat-accordion>

          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                  <mat-panel-title>
                      Data Entry Forms
                  </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-nav-list>
                  <a mat-list-item routerLink="employees" >Employee List</a>
                  <a mat-list-item routerLink="add" >Add Employee</a>
              </mat-nav-list>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                  <mat-panel-title>
                      Library
                  </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list role="list">
                  <mat-list-item role="listitem">Your First Library</mat-list-item>
              </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
                  <mat-panel-title>
                      Reports
                  </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list role="list">
                  <mat-list-item role="listitem">Your First Report</mat-list-item>
              </mat-list>
          </mat-expansion-panel>

      </mat-accordion>

  </mat-sidenav>


  <mat-sidenav-content>


      <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2019 @JavaGuides</span>
  </div>
</footer>