<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
  </div>
  <div class="panel-body">
  
    <mat-table #employeeTable="matSort" [dataSource]="employeeDataSource" matSort>
      <!-- <ng-container matColumnDef="details">
          <mat-header-cell fxFlex="50px" *matHeaderCellDef> </mat-header-cell>
          <mat-cell fxFlex="50px" *matCellDef="let element">
              <button mat-icon-button color="primary" [routerLink]="['/survey/', element.surveyId]">
              <mat-icon>reorder</mat-icon>
              </button>
          </mat-cell>
      </ng-container> -->

      <ng-container matColumnDef="delete">
        <mat-header-cell fxFlex="50px" *matHeaderCellDef> </mat-header-cell>
        <mat-cell fxFlex="50px" *matCellDef="let element">
            <button mat-icon-button color="warn" (click)="deleteEmployee(element.id)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>
      
      <ng-container matColumnDef="firstName">
          <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell fxFlex class="flex-stretch" *matCellDef="let element"> {{element.firstName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastName">
          <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
          <mat-cell fxFlex class="flex-stretch" *matCellDef="let element"> {{element.lastName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="emailId">
          <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> Email ID </mat-header-cell>
          <mat-cell fxFlex class="flex-stretch" *matCellDef="let element"> {{element.emailId}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="dob">
        <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
        <mat-cell fxFlex class="flex-stretch" *matCellDef="let element"> {{element.dob}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="gender">
          <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> Gender </mat-header-cell>
          <mat-cell fxFlex class="flex-stretch" *matCellDef="let element"> {{element.gender}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
          <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell fxFlex class="flex-stretch" *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell fxFlex *matHeaderCellDef mat-sort-header> Active </mat-header-cell>
        <mat-cell fxFlex class="flex-stretch" *matCellDef="let element"> {{element.active}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="details">
      <mat-header-cell fxFlex="50px" *matHeaderCellDef> </mat-header-cell>
      <mat-cell fxFlex="50px" *matCellDef="let element">
          <button mat-icon-button color="warn" (click)="employeeDetails(element.id)">
            <mat-icon class="mat-18">reorder</mat-icon>
          </button>
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="update">
    <mat-header-cell fxFlex="50px" *matHeaderCellDef> </mat-header-cell>
    <mat-cell fxFlex="50px" *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="updateEmployee(element.id)">
          <mat-icon class="mat-18">edit</mat-icon>
        </button>
    </mat-cell>
</ng-container>
  

      <mat-header-row *matHeaderRowDef="employeeDisplayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let odd = odd; columns: employeeDisplayedColumns;" (click)="onRowClicked(row)" [ngClass]="{rowodd: odd, highlighted: selectedRowIndex == row.cn}"></mat-row>
  </mat-table>

  <mat-paginator #employeePaginator [length]="employeeDataSource.length" [pageSize]="10" [pageIndex]="0" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

    <!-- <mat-table class="table table-striped" [dataSource]="employeeDataSource" matSort>
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>State</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.emailId}}</td>
          <td>{{employee.state}}</td>
          <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateEmployee(employee.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </mat-table> -->
  </div>
</div>