  <form>

    <mat-card>

      <mat-card-header>
        <mat-card-title> Create Employee </mat-card-title>
      </mat-card-header>

      <mat-card-content >

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="32px" fxLayoutAlign="flex-start">
          <div fxFlex="50%">
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input matInput name="firstName" [(ngModel)]="employee.firstName" required>
            </mat-form-field>
          </div>
          <div fxFlex="50%">
            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input matInput name="lastName" required [(ngModel)]="employee.lastName">
            </mat-form-field>
          </div>
        </div>


        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="flex-start">
          <div fxFlex="33%">
            <mat-form-field>
              <mat-label>Email Address</mat-label>
              <input matInput name="emailId" required [(ngModel)]="employee.emailId">
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="flex-start">
          <div fxFlex="33%">
            <mat-radio-group name="gender" [(ngModel)]="employee.gender" >
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
            </mat-radio-group>
          </div>
          <div fxFlex="33%">
            <mat-checkbox name="active" [(ngModel)]="employee.active" > Active</mat-checkbox>
          </div>

        </div>


        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="flex-start">
          <div fxFlex="33%">
            <mat-form-field>
              <input matInput [matDatepicker]="dob" name="dob" [(ngModel)]="employee.dob" placeholder="Date of Birth"
                required>
              <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
              <mat-datepicker #dob></mat-datepicker>
            </mat-form-field>
          </div>
        </div>


        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="0px" fxLayoutAlign="flex-start">
          <div fxFlex="33%">
            <mat-label>Employee Description</mat-label>
            <textarea matInput name="description" [(ngModel)]="employee.description" 
              placeholder="Ex. This employee does..."></textarea>

          </div>
        </div>

      </mat-card-content>

    </mat-card>

    <mat-card>
      <button mat-raised-button color="primary" (click)="saveForm()">Save</button>
      <button mat-raised-button color="primary" type="reset" (click)="resetForm()">Reset</button>
  </mat-card>

  </form>


<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>